/*Main blocks*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-image: url("../img/hand.jpg");
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-size: 1300px;
    background-position-x: 320px;
}

header {
    background-color: rgba(56, 54, 54, 0.682);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    padding-bottom: 30px;
}

section {
    display: flex;
    justify-content: center;
}

.left {
    background-color: rgba(0, 255, 255, 0);
}

.center {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(56, 54, 54, 0.682);
    border-radius: 8px;
    margin: auto;
}

.right {
    background-color: rgba(11, 184, 25, 0);
    vertical-align: middle;
}

.left,
.right {
    height: auto;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center {
    height: auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(56, 54, 54, 0.682);
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-around;
    min-width: 400px;
}

p {
    padding: 20px;
    margin: auto;
 }

 b {
    margin-top: 35px;
    padding-left: 40px;
 }

.maintitle {
    font-weight: 900;
    font-size: x-large;
}

/*Center Div*/

a {
    color: antiquewhite;
}

ul {
    list-style-type: none;
    font-size: larger;
    font-weight: 700px;
}

li {
    font-size: larger;
    padding-bottom: 1px;
}

h2 {
    margin: auto;
    padding-top: 20px;
}